body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

.container {
    width: 300px;
    margin: 50px auto;
    text-align: center;
}

.card {
    position:absolute;
    top: 100px;
    left: 10px;
    background-color: white;
    padding: 1px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card1 {
    position:absolute;
    top: 100px;
    left: 280px;
    background-color: white;
    padding: 1px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.card2 {
    position:absolute;
    top: 100px;
    left: 560px;
    background-color: white;
    padding: 1px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

button {
    padding: 10px;
    margin: 5px;
    width: 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}
